.navigation {
  display: flex;
  align-items: center;
  vertical-align:middle;
  margin: 24px;
  margin-left: 64px;
}

.logo {
  font-size: x-large;
  font-weight:bolder;
  margin-right: 64px;
  color: white;
}

.nav-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  display: inline-block;
  min-width: 200px;
  text-decoration: none;
  color: gray;
  border-bottom: 2px solid gray;
  transition: color 0.2s ease, border-color 0.2s ease;
  margin: 20px;
  text-align: left;
  padding: 4px;
}

.nav-links li:hover,
.nav-links li.focus,
.nav-links li.active {
  color: white;
  border-bottom-color: white;
}
